DD_SITE=us5.datadoghq.com
DD_API_KEY=
DD_APP_KEY=
PORT=3000

DD_SSL_VERIFY=false
REQUESTS_CA_BUNDLE=
HTTP_PROXY=
HTTPS_PROXY=

# ServiceNow (goindigo)
SNOW_INSTANCE=goindigo.service-now.com
SNOW_CLIENT_ID=
SNOW_CLIENT_SECRET=
SNOW_USERNAME=
# Quote password if it contains # or special chars
SNOW_PASSWORD=""
SNOW_ASSIGNMENT_GROUP=DIG-SOCE-SRE-OCP
